:root {
  --vh: 100%;
}

.thoigian-container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #0097B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.title {
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
}

.time-display {
  background-color: #F8CA8C;
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

.time-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 50px;
  width: 270px;
  font-size: 24px;
  margin-bottom: 30px;
}

.label {
  color: white;
  font-weight: bold;
  text-wrap-mode: nowrap;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.circle {
  background-color: #F8CA8C;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 50%;
  text-align: center;
  min-width: 30px;
}

.colon {
  color: white;
}

.mode-selector {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #F8CA8C;
  border-radius: 30px;
  padding: 5px 10px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.mode-box img {
  width: 30px;
  height: 30px;
}

.btn-group {
  display: flex;
  gap: 30px;
  margin-top: auto;
  font-size: 24px;
  padding: 0px 0px 30px 0px;
}

.btn-save {
  background-color: #26498E;
  color: white;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-cancel {
  background-color: #F8CA8C;
  color: white;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}